[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[alias]
  br = branch
  ci = commit
  co = checkout
  cp = cherry-pick
  df = diff --color --color-words --abbrev
  pom = push origin master
  rv = remote -v
  s = status -s
  st = status

[color]
  ui = true

[color "branch"]
  current = green reverse
  local = green
  remote = cyan

[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = green
  changed = yellow
  untracked = red

[merge]
  log = true

[push]
  default = current

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
